$background-color: black;
$font-main: 'Open Sans', sans-serif;
$font-heading: 'Ubuntu', sans-serif;
$text-color: white;
$avatar-bg: #494A4D;
$border-radius-large: 30px;
$button-height: 3.125em;
$primary-color: #0083BB;
$error-color: #ff4d4d;
$font-size-large: 1.2em;
$font-size-medium: 1.375em;
$font-size-small: 0.9375em;
$button-width: 12.5em;
$border-radius: 1.5625em;
$transition-duration: 0.3s;
$danger-color: #661111;
$success-color: #397031;
$placeholder-color: #edede9;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
}

button,
a,
p,
input,
label,
textarea {
    font-family: $font-main;
}

.back-button {
    text-decoration: none;
    margin: 15px;
    display: inline-flex;
    align-items: center;
    color: $text-color;
    background-color: transparent;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.625rem;
}